<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlackListDAO">
	
	<insert id="insert">
		insert into blacklist values(blacklist_seq.nextval, #{id}, #{reason}, default)
	</insert>
	
	<select id="selectById" resultType="kh.spring.dto.BlackListDTO">
		select * from blacklist where id = #{id}
	</select>
	
	<select id="selectCountById" resultType="java.lang.Integer">
		select count(*) from blacklist where id = #{id}
	</select>
	
	<select id="selectList" resultType="kh.spring.dto.BlackListDTO">
		select * 
		from    
		(  
		    select row_number() over(order by seq desc) as rown, BLACKLIST.* 
		    from BLACKLIST
		    where id like #{id}
		)
		where rown between #{start} and #{end}
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from blacklist
	</select>
		
	<delete id="deleteById">
		delete from blacklist where id = #{id}	
	</delete>
	
</mapper>