<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardListDAO">
	<select id="selectAllBoardList" resultType="kh.spring.dto.BoardListDTO">
		select * from(
    		select row_number() over(order by write_date desc) as rown ,ttl.* from (
        		select seq , title , write_date , '재회후기' as type , writer  from review
        		union all
        		select seq , name as title , write_date , '무료나눔' as type , seller as writer from item
        		union all
       			select seq , disappearArea as title , writeDate as write_date  , '실종신고' as type, WRITER as writer from disappearReport
       			union all 
				select seq , title , writetime as write_date  , '임시보호' as type, WRITER as writer from temp_protect
    		) ttl
		) where rown between #{start} and #{end} and writer = #{id}
	</select>
	<select id="getBoardCount" resultType="int">
		select count(*) from (
			    select seq , title , write_date , '재회후기' as type , writer  from review
        		union all
        		select seq , name as title , write_date , '무료나눔' as type , seller as writer from item
        		union all
       			select seq , disappearArea as title , writeDate as write_date  , '실종신고' as type, WRITER as writer from disappearReport
       			union all 
				select seq , title , writetime as write_date  , '임시보호' as type, WRITER as writer from temp_protect
		) where writer = #{id}
	</select>
</mapper>