<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartDAO">

	<insert id="addCart">
		insert into cart values(cart_seq.nextval, #{item_seq}, #{id})
	</insert>
	
	<select id="isExist" resultType="int">
		select count(*) from cart where id=#{id} and item_seq=#{item_seq}
	</select>
	
	<select id="selectCartPerPage" resultType="kh.spring.dto.ItemDTO">
		select row_number() over(order by i.seq desc) as rown, i.*, c.seq as cart_seq from cart c, item i where c.item_seq = i.seq and id=#{id}
	</select>
	
	<select id="getCartCount" resultType="int">
		select count(*) from cart where id=#{value}
	</select>
	
	<delete id="deleteCart">
		delete from cart where seq in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteCartByItemSeq">
		delete from cart where item_seq in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	
</mapper>