<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChartDAO">

	<select id="selectCountTodayRecord" resultType="java.lang.Integer">
		select count(*) from chart where to_char(time, 'yy/mm/dd' ) = to_char( sysdate, 'yy/mm/dd')
	</select>

	<insert id="insertTodayRecord">
		insert into chart values(default, default, default)
	</insert>
	
	<insert id="insertRandomRecord">
		insert into chart values(sysdate - #{array[0]}, #{array[1]}, #{array[2]})
	</insert>

	<update id="visitCountPlus">
		update chart set visit_count = (visit_count + 1) where (to_char(time, 'yy/mm/dd') = to_char( sysdate, 'yy/mm/dd'))
	</update>

	<select id="getTodayVisitCount" resultType="java.lang.Integer">
		select visit_count from chart where to_char(time, 'yy/mm/dd') = to_char(sysdate, 'yy/mm/dd')
	</select>
	
	<select id="getRecentSevenVisitCount" resultType="java.lang.Integer">
		select floor(avg(visit_count)) 
		from chart 
		where TO_NUMBER(to_char(time, 'yymmdd'), '99999999') 
	    	BETWEEN 
	        	(select TO_NUMBER(to_char(sysdate - 6, 'yymmdd'), '99999999') from dual) 
	        	and 
	        	(select TO_NUMBER(to_char(sysdate, 'yymmdd'), '99999999') from dual)
	</select>
	
	<select id="getRecentThirtyVisitCount" resultType="java.lang.Integer">
		select floor(avg(visit_count)) 
		from chart 
		where TO_NUMBER(to_char(time, 'yymmdd'), '99999999') 
	    	BETWEEN 
	        	(select TO_NUMBER(to_char(sysdate - 29, 'yymmdd'), '99999999') from dual) 
	        	and 
	        	(select TO_NUMBER(to_char(sysdate, 'yymmdd'), '99999999') from dual)
	</select>
	
	<select id="getTotalVisitCount" resultType="java.lang.Integer">
		select sum(visit_count) from chart
	</select>
	
	<select id="getMonthVisitCount" resultType="java.lang.Integer">
		SELECT floor(avg(visit_count))
		FROM chart
		WHERE time BETWEEN 
					TRUNC(ADD_MONTHS(sysdate,-#{value}+1)+1) - TO_CHAR(sysdate,'DD')
					AND 
					TRUNC(LAST_DAY(ADD_MONTHS(sysdate,-#{value}+1)+1)) +0.99999421
	</select>
	
	<select id="getMonthPayAmount" resultType="java.lang.Integer">
		SELECT sum(pay_amount)
		FROM chart
		WHERE time BETWEEN 
					TRUNC(ADD_MONTHS(sysdate,-#{value}+1)+1) - TO_CHAR(sysdate,'DD')
					AND 
					TRUNC(LAST_DAY(ADD_MONTHS(sysdate,-#{value}+1)+1)) +0.99999421
	</select>
	
	<select id="getMonthVisitTime" resultType="java.lang.String">
		SELECT to_char(time, 'yy') || '년 ' || to_char(time, 'mm') || '월'
		FROM chart
		WHERE time BETWEEN 
			TRUNC(ADD_MONTHS(sysdate,-#{value}+1)+1) - TO_CHAR(sysdate,'DD')
			AND 
			TRUNC(LAST_DAY(ADD_MONTHS(sysdate,-#{value}+1)+1)) +0.99999421
		GROUP BY to_char(time, 'yy') || '년 ' || to_char(time, 'mm') || '월'
	</select>
	
	<update id="updateTodayPayAmount">
	
		update chart set pay_amount = pay_amount + #{value} where to_char(time, 'yy/mm/dd' ) = to_char( sysdate, 'yy/mm/dd')
		
	</update>
	
</mapper>