<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DisappearCommentsDAO">
	<insert id="insertDisappearComment">
		insert into disappear_comments values(disappear_comments_seq.nextval, #{disappear_seq}, #{writer}, #{contents}, default)
	</insert>
	
	<update id="modifyDisappearComment">
		update disappear_comments set contents=#{contents} where seq = #{seq}
	</update>
	
	<delete id="deleteDisappearComment">
		delete from disappear_comments where seq = #{value}
	</delete>
	
	<select id="selectAllDisappearCommentsByDisappearSeq" resultType="kh.spring.dto.DisappearCommentsDTO">
		select * from (select row_number()over(order by seq desc)as rown, disappear_comments.* , member.imagepath from disappear_comments, member where member.id = disappear_comments.writer and disappear_seq = #{seq}) where rown between #{start} and #{end}
	</select>
	<select id="selectDisappearCommentsCountByDisappearSeq" resultType="int">
		select count(*) from disappear_comments where disappear_seq = #{disappearSeq}
	</select>
	
	<select id="selectDisappearCommentsSeqCurrVal" resultType="int">
		select disappear_comments_seq.currval from dual
	</select>
	<select id="selectDisappearCommentsBySeq" resultType="kh.spring.dto.DisappearCommentsDTO">
		select * from disappear_comments where seq = #{seq}
	</select>
	<update id="updateReplyContentsByseq">
		update disappear_comments set contents = #{contents} where seq = #{seq}
	</update>
	<select id="selectDTOBySeq" resultType="kh.spring.dto.DisappearCommentsDTO">
		select * from disappear_comments where seq = #{seq}
	</select>
	<update id="updateWithdrawalWriter">
		update disappear_comments set writer ='탈퇴한 회원' where writer = #{id}
	</update>
</mapper>