<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DisappearReportDAO">
	<insert id="insert">
		insert into disappearReport values(disappearReport_seq.nextval, #{disDate}, #{areaList},
						#{disappearArea}, #{tel}, #{kind}, #{gender}, #{neuter}, #{age}, #{furColor}, 
						#{feature}, #{et}, #{image1}, #{image2}, #{image3}, #{writer}, default, #{ip})
	</insert>
	<select id="recordAllCount" resultType="Integer">
		select count(*)as count from disappearReport
	</select>
	<select id="selectPerPage" resultType="kh.spring.dto.DisappearReportDTO">
		select * from (select row_number()over(order by seq desc) as rown, disappearReport.* from disappearReport) where rown between #{start} and #{end}
	</select>
	<select id="ReportContent" resultType="kh.spring.dto.DisappearReportDTO">
		select * from disappearReport where seq = #{value}
	</select>
	<update id="updateNoImage">
		update disappearReport set disdate = #{disDate}, areaList = #{areaList}, disappeararea = #{disappearArea}, tel = #{tel}, kind = #{kind}, gender = #{gender},
											neuter = #{neuter}, age = #{age}, furColor = #{furColor}, feature = #{feature}, et = #{et} where seq = #{seq}
	</update>
	<update id="update">
		update disappearReport set disdate = #{disDate}, areaList = #{areaList}, disappeararea = #{disappearArea}, tel = #{tel}, kind = #{kind}, gender = #{gender},
											neuter = #{neuter}, age = #{age}, furColor = #{furColor}, feature = #{feature}, et = #{et}, image1 = #{image1}, image2 = #{image2}, image3 = #{image3} where seq = #{seq}
	</update>
	<delete id="delete">
		delete disappearReport where seq = #{value}
	</delete>
	
</mapper>