<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DonationDAO">

	<insert id="insert">
		insert into donation 
		values(donation_seq.nextval, #{name}, #{title}, #{explanation}, #{image1}, #{image2}, #{image3}, #{left}, #{right}
				, #{goalmoney}, default, #{startdate}, #{enddate})
	</insert>
	
	<select id="selectRecentDTO" resultType="kh.spring.dto.DonationDTO">
		select * 
		from 
		    (select row_number() over(order by seq desc) as rown, donation.*
		        from donation 
		        where   (startdate <![CDATA[ < ]]>= to_date(to_char(sysdate, 'YYYY-MM-DD'),'YYYY-MM-DD'))
		                and 
		                (to_date(to_char(sysdate, 'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[ < ]]>= enddate))
		where rown = 1
	</select>
	
	<select id="selectDTOByRowNumber" resultType="kh.spring.dto.DonationDTO">
		select * 
		from 
		    (select row_number() over(order by seq desc) as rown, donation.*
		    from donation)
		where rown = #{value}
	</select>
	
	<select id="selectBySeq" resultType="kh.spring.dto.DonationDTO">
		select * from donation where seq = #{seq}
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from donation
	</select>
	
	<delete id="delete">
		delete from donation	
	</delete>
	
	<update id="updateCurrentMoney">
		update donation set currentmoney = currentmoney + #{value}
	</update>
	
	<update id="updateNameBySeq">
		update donation set name = #{name} where seq = #{seq}
	</update>
	<update id="updateTitleBySeq">
		update donation set title = #{title} where seq = #{seq}
	</update>
	<update id="updateExplanationBySeq">
		update donation set explanation = #{explanation} where seq = #{seq}
	</update>
	<update id="updateGoalmoneyBySeq">
		update donation set goalmoney = #{goalmoney} where seq = #{seq}
	</update>
	<update id="updateStartdateBySeq">
		update donation set startdate = #{startdate} where seq = #{seq}
	</update>
	<update id="updateEnddateBySeq">
		update donation set enddate = #{enddate} where seq = #{seq}
	</update>
	<update id="updateImage1BySeq">
		update donation set image1 = #{image1} where seq = #{seq}
	</update>
	<update id="updateImage2BySeq">
		update donation set image2 = #{image2} where seq = #{seq}
	</update>
	<update id="updateImage3BySeq">
		update donation set image3 = #{image3} where seq = #{seq}
	</update>
	<update id="updateLeftBySeq">
		update donation set left = #{left} where seq = #{seq}
	</update>
	<update id="updateRightBySeq">
		update donation set right = #{right} where seq = #{seq}
	</update>
	
</mapper>