<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DonationPaymentDAO">

	<insert id="insertDonationPayment">
		insert into donated_payment values(donated_payment_seq.nextval, #{donator}, #{donator_name}, #{donation_name}, #{donation}, default, #{donate_type})
	</insert>
	
	<select id="selectDonationPaymentById" resultType="kh.spring.dto.DonationPaymentDTO">
		select * from (
			select row_number() over(order by seq desc) as rown, dp.*
			from donated_payment dp
			where donator = #{id}) 
		where rown between #{start} and #{end}
	</select>
	
	<select id="getDonationPaymentTotalCountById" resultType="int">
		select count(*) from donated_payment where donator = #{value}
	</select>

</mapper>