<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InfoDAO">

	<insert id="insertinfo">
		insert into info_Board values(info_board_seq.nextval, #{title},
		#{contents},#{image,jdbcType=VARCHAR},#{writer},default,#{ip})
	</insert>
	<select id="selectall" resultType="kh.spring.dto.TrainingDTO">
	select * from(SELECT seq,title,writer,writeDate,image,RANK()OVER (ORDER BY seq DESC) RANK FROM info_Board order by writeDate desc)where Rank between #{start} and #{end}
	</select>
	<select id="selectdetail" resultType="kh.spring.dto.TrainingDTO" >
	select * from info_Board where seq=#{seq}
	</select>
	<update id="updateinfo">
	update info_Board set title=#{title},writeDate=default,contents=#{contents,jdbcType=VARCHAR},
	image=#{image,jdbcType=VARCHAR} where seq=#{seq}
	</update>
	<select resultType="Integer" id="bordcount">
	select count(*) from info_Board
	</select>
	<delete id="delinfo">
	delete from info_Board where seq=#{seq}
	</delete>
</mapper>