<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InfoDAO">

	<insert id="insertinfo">
		insert into info_Board values(seq.nextval, #{title},
		#{contents}, #{image}, #{writer},sysdate,#{ip})
	</insert>
</mapper>