<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemDAO">
	<delete id="delete">
		delete from item where seq in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<insert id="upload">
		insert into item values(item_seq.nextval, #{name}, #{contents}, TO_CHAR(#{price},'999,999,999'), #{seller}, default, default,
		#{imagePath1}, #{imagePath2,jdbcType=VARCHAR}, #{imagePath3,jdbcType=VARCHAR}, #{category}, default)
	</insert>
	
	<select id="selectBySeq" resultType="kh.spring.dto.ItemDTO">
		select * from item where seq=#{value}
	</select>
	
	<select id="getItemCount" resultType="int">
		select count(*) from item where permission = 'y'
	</select>
	
	<select id="getItemCountByCategory" resultType="int">
		select count(*) from item where category=#{value} and permission = 'y'
	</select>
	
	<select id="getItemCountWithoutSoldout" resultType="int">
		select count(*) from item where permission = 'y' and soldout = 'n'
	</select>
	
	<select id="getItemCountByCategoryWithoutSoldout" resultType="int">
		select count(*) from item where category=#{value} and permission = 'y' and soldout = 'n'
	</select>
	
	<select id="selectItemPerPage" resultType="kh.spring.dto.ItemDTO">
		select * from (select row_number() over(order by seq desc) as rown, item.* from item where permission = 'y') where rown between #{start} and #{end}
	</select>
	
	<select id="selectItemPerPageByCategory" resultType="kh.spring.dto.ItemDTO">
		select * from (select row_number() over(order by seq desc) as rown, item.* from item where category=#{category} and permission = 'y') where rown between #{start} and #{end}
	</select>
	
	<select id="selectItemPerPageWithoutSoldout" resultType="kh.spring.dto.ItemDTO">
		select * from (select row_number() over(order by seq desc) as rown, item.* from item where permission = 'y' and soldout = 'n') where rown between #{start} and #{end}
	</select>
	
	<select id="selectItemPerPageByCategoryWithoutSoldout" resultType="kh.spring.dto.ItemDTO">
		select * from (select row_number() over(order by seq desc) as rown, item.* from item where category=#{category} and permission = 'y' and soldout = 'n') where rown between #{start} and #{end}
	</select>
	
	<select id="selectItemForPayment" resultType="kh.spring.dto.ItemDTO">
		select c.seq as cart_seq, i.* from cart c, item i where c.item_seq = i.seq and c.seq in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="selectItemByOrderNum" resultType="kh.spring.dto.ItemDTO">
		select i.* from payment p, item i where p.item_seq = i.seq and ordernumber = #{value}
	</select>
	
	<update id="updateSoldOut">
		update item set soldout = 'y' where seq=#{value}
	</update>
	
	<update id="updateSoldOutById">
		update item set soldout = 'y' where seller=#{value}
	</update>

	<select id="selectForAdmin" resultType="kh.spring.dto.ItemDTO">
		select * 
		from (select row_number() over(order by seq asc) as rown, item.* from item where (permission = 'n'))
		where (rown between #{start} and #{end})
		   
	</select>
	
	<select id="selectCountForAdmin" resultType="java.lang.Integer">
		select count(*) from item where (permission = 'n')
	</select>
	
	<update id="updatePermissionBySeq">
		update item set permission = 'y' where seq = #{value}
	</update>
	
	<delete id="deleteBySeq">
		delete from item where seq = #{value}
	</delete>
	
	<update id="updateWithdrawalSeller">
		update item set seller='탈퇴한 회원' where seller=#{value}
	</update>
	
	<select id="soldoutCheck" resultType="String">
		select soldout from item where seq=#{value}
	</select>
	
</mapper>