<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDAO">
	
	<insert id="insertMember" >
		insert into member values(#{id}, #{password}, #{name}, #{email}, #{birthDay,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
		#{phone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{address1,jdbcType=VARCHAR}, #{address2,jdbcType=VARCHAR}, #{type,jdbcType=NUMERIC}, 0)
	</insert>
	<insert id="insertNaverJoin" >
		insert into member values(#{id}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{birthDay,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
		#{phone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{address1,jdbcType=VARCHAR}, #{address2,jdbcType=VARCHAR}, #{type,jdbcType=NUMERIC}, 0)
	</insert>
	<select id="selectAllMembers" resultType="kh.spring.dto.MemberDTO">
		select * from member where;
	</select>
	
	<select id="isLoginOk" resultType="int">
		select count(*) from member where id=#{id} and password=#{password}
	</select>
	
	<select id="idDuplCheck" resultType="int">
		select count(*) from member where id=#{value}
	</select>
	
	<select id="selectOneMember" resultType="kh.spring.dto.MemberDTO">
		select * from member where id=#{value}
	</select>
	
	<select id="selectByLikeId" resultType="kh.spring.dto.MemberDTO">
		select * from member where id like #{value}
	</select>
	
	<update id="modifyMember">
		update member set password=#{password}, name=#{name}, email=#{email}, phone=#{phone}, 
		zipcode=#{zipcode}, addredd1=#{address1}, addredd2=#{addredd2} where id=#{id}
	</update>
	
	<delete id="deleteMember">
		delete from member where id=#{value}
	</delete>
	
	<!-- 퀴즈에서 씀!-->
	<select id="memberPoint" resultType="kh.spring.dto.MemberDTO">
		select rank, id, point from(select rank() over(order by point desc)as rank, member.* from member) where rank  between 1 and 10
	</select>
	
</mapper>