<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuizDAO">
	
	<insert id="insertQuiz">
		insert into quiz values(quiz_seq.nextval, #{quiz}, #{correct}, #{point}, #{explain})
	</insert>
	
	<select id="selectAllQuiz" resultType="kh.spring.dto.QuizDTO">
		select * from quiz
	</select>
	<select id="selectQuizPerPage" resultType="kh.spring.dto.QuizDTO">
		select * from (select row_number()over(order by seq desc) as rown, quiz.* from quiz) where rown between #{start} and #{end}
	</select>
	<select id="quizCount" resultType="Integer">
		select count(*)as count from quiz
	</select>
	
	<select id="selectRandQuiz" resultType="kh.spring.dto.QuizDTO">
		select * from (select row_number()over(order by seq desc) as rown, quiz.* from quiz) where rown in (#{num1}, #{num2}, #{num3}, #{num4}, #{num5}, #{num6}, #{num7}, #{num8}, #{num9}, #{num10})
	</select>
	
	<select id="getQuizNum" resultType="int">
		select count(*) from quiz
	</select>
	
	<select id="deleteQuiz">
		delete from quiz where seq=#{value}
	</select>
	<update id="updatePoint">
		update member set point = (point + #{point}) where id = #{id}
	</update>
	
	
	
	
</mapper>