<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewCommentsLikesDAO">
	<insert id="insertReviewCommentsLike">
		insert into review_comments_likes values(review_comments_likes_seq.nextval , #{r_comments_seq},#{id})
	</insert>
	<delete id="deleteReviewCommentsLike">
		delete review_comments_likes where id=#{id} and r_comments_seq = #{r_comments_seq}
	</delete>
	<delete id="deleteReviewCommentLiked">
		delete review_comments_likes where r_comments_seq = #{seq}
	</delete>
</mapper>