<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewDAO">
	
	<insert id="insertReview">
		insert into review values(review_seq.nextval, #{title}, #{writer}, #{image_path1,jdbcType=VARCHAR}, #{image_path2,jdbcType=VARCHAR}, #{image_path3,jdbcType=VARCHAR}, #{contents}, default, default, default )
	</insert>
	
	<select id="selectAllReviewByCurrentpage" resultType="kh.spring.dto.ReviewDTO">
		select * from (select row_number() over(order by seq desc) as rown, review.* 
		from review) where rown between #{start} and #{end}
	</select>
	
	<update id="modifyReview">
		update review set title=#{title}, contents=#{contents}
	</update>
	
	<delete id="deleteReview">
		delete from review where seq=#{value}
	</delete>
	
	<select id="getReviewCount" resultType="int">
		select count(*) from review
	</select>
	<select id="selectReviewBySeq" resultType="kh.spring.dto.ReviewDTO">
		select * from review where seq = #{seq}
	</select>
	
</mapper>