<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewDAO">
	
	<insert id="insertReview">
		insert into review values(review_seq.nextval, #{title}, #{writer}, #{image_path1,jdbcType=VARCHAR}, #{image_path2,jdbcType=VARCHAR}, #{image_path3,jdbcType=VARCHAR}, #{contents}, default, default, default )
	</insert>
	
	<select id="selectAllReviewByCurrentpage" resultType="kh.spring.dto.ReviewDTO">
		select * from (select row_number() over(order by r1.seq desc) as rown , r1.* , nvl(cnt,0) as comments from review r1 , 
(select r.seq , count(r.seq) cnt from review r, review_comments rc where r.seq = rc.REVIEW_SEQ group by r.SEQ) r2 
where r1.seq = r2.seq(+)) where rown between #{start} and #{end}
	</select>
	
	<update id="modifyReview">
		update review set title=#{title}, contents=#{contents}
	</update>
	
	<delete id="deleteReview">
		delete from review where seq=#{value}
	</delete>
	
	<select id="getReviewCount" resultType="int">
		select count(*) from review
	</select>
	<select id="selectReviewBySeq" resultType="kh.spring.dto.ReviewDTO">
		select * from review where seq = #{seq}
	</select>
	<update id="updateViewCount">
		update review set view_count = view_count + 1 where seq = #{seq}
	</update>
	<delete id="deleteReviewListByAdmin">
		delete from review where seq in
		<foreach item="seq" index="index" collection="array" open="(" separator="," close=")">
        	#{seq}
  		</foreach>
	</delete>
	<select id="selectRandomReview" resultType="kh.spring.dto.ReviewDTO">
		select * from review where seq in
		<foreach item="seq" index="index" collection="array" open="(" separator="," close=")">
        	#{seq}
  		</foreach>
	</select>
</mapper>