<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewCommentsDAO">

	<insert id="insertReviewComment">
		insert into review_comments values(review_comments_seq.nextval, #{review_seq}, #{writer}, #{contents}, default, 0, 0)
	</insert>
	
	<update id="modifyReviewComment">
		update review_comments set contents=#{contents} where seq=#{seq}
	</update>
	
	<delete id="deleteReviewComment">
		delete from review_comments where review_seq=#{value}
	</delete>
	
</mapper>